/* MAIN STYLESHEET FOR THIRSTY BEAR PROJECT - 3/10/19 */

/*
FONT CODES

 */


/****************************************************************************
GLOBAL STYLES
****************************************************************************/
* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
}
.main-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 2000px;
  width: 100%;
}
/* HEADER STYLES */
header.tb-header {

  background-color: rgb(255,70,67);
  display: flex;
  height: 7.5%;
  justify-content: center;
  position: relative;
  width: 100%;
}

div.tb-logo-placeholder {
  background-color: rgb(245,245,245);
  border: 1px solid black;
  height: 200px;
  position: absolute;
  top: 25px;
  width: 200px;

}

/* NAVIGATION STYLES */
nav.tb-top-nav {

  height: 5%;
  padding-top: 1%;
  width: 100%;
}

ul#leftNav li {
  /* border: 1px solid green; */
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
}

ul#leftNav {
  /* border: 1px solid black; */
  float: left;
  height: 100%;
  width: 50%;
}
ul#rightNav {
  /* border: 1px solid black; */
  float: right;
  height: 100%;
  width: 50%;
}
ul#rightNav li {
  /* border: 1px solid green; */
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
}



/* FOOTER STYLES  */

footer.tb-footer {

  background-color: rgb(255,70,67);
  height: 22.5%;
  width: 100%;
}

/****************************************************************************
INDEX ONLY STYLES
****************************************************************************/
/* TOP RIBBON STYLES */
section.tb-top-ribbon {

  height: 32.5%;
  width: 100%;
}

/* BOTTOM RIBBON STYLES  */
section.tb-bottom-ribbon {

  height: 32.5%;
  width: 100%;
}
