/* MAIN STYLESHEET FOR THIRSTY BEAR PROJECT - 3/10/19 */

/*
FONT CODES
font-family: 'Oswald', sans-serif;
font-family: 'PT Serif', serif;
 */


/****************************************************************************
GLOBAL STYLES
****************************************************************************/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;ont-size: 5rem; */
}
.main-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 2000px;
  width: 100%;
}
/* HEADER STYLES */
header.tb-header {
  background-image: url("../images/boardBackground.jpg");
  background-size: cover;
  display: flex;
  height: 7.5%;
  justify-content: center;
  position: relative;
  width: 100%;
}

div.tb-logo-placeholder {
  background-color: rgb(245,245,245);
  border: 1px solid black;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  top: 25px;
  width: 200px;

}

/* NAVIGATION STYLES */
nav.tb-top-nav {
  background-color: rgb(255,70,67);
  border-bottom: 1px solid rgb(235,235,235);
  height: 5%;
  padding-top: 1%;
  width: 100%;
}


ul#leftNav li {
  /* border: 1px solid green; */
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
}

ul#leftNav {
  /* border: 1px solid black; */
  float: left;
  height: 100%;
  width: 50%;
}
ul#rightNav {
  /* border: 1px solid black; */
  float: right;
  height: 100%;
  width: 50%;
}
ul#rightNav li {
  /* border: 1px solid green; */
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
}

nav.tb-top-nav a {
  color: rgb(235,235,235);
  font-family: monospace;
}



/* FOOTER STYLES  */

footer.tb-footer {
  background-color: rgb(255,70,67);
  display: flex;
  flex-flow: column;
  height: 22.5%;
  width: 100%;
}
div.tb-footer-row {
  display: flex;
  width: 100%;
}
div.tb-footer-content {
  display: flex;
  height: 67%;
  justify-content: space-around;
  padding: 2% 0;
  width: 100%;
}
div.tb-footer-spacer {
  background-image: url("../images/boardBackground.jpg");
  background-size: cover;
  height: 33%;
  width: 100%;
}

section.tb-column-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 2%;
  width: 30%;
}

section.tb-column-footer h3 {
  border-bottom: 1px solid;
  border-top: 1px solid;
  color: rgb(35,35,35);
  margin-bottom: 5%;
  padding: 3% 0;
  text-align: center;
}
section.tb-column-footer ul {
  font-size: 1.25rem;
}

section.tb-column-footer li {
  color: rgb(235,235,235);
  font-family: monospace;
  line-height: 1.25em;
  margin: 1% 0;
}

section.tb-column-footer p {
  color: rgb(235,235,235);
  font-family: cursive;
  font-size: 1.5rem;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

div.social {
  display: flex;
  justify-content: space-around;
}

div.social a {
  color: rgb(235,235,235);
}
/****************************************************************************
INDEX ONLY STYLES
****************************************************************************/
/* TOP RIBBON STYLES */
section.tb-top-ribbon {
  height: 32.5%;
  position: relative;
  width: 100%;
}
/* SLIDE SHOW STYLES */

div#slide {
  background-image: url("../images/backgroundImages/bg2.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}
span.tb-slide-arrow {
  color: rgba(15,15,15, .75);
}
span#tbLeftArrow {
  position: absolute;
  left: 5px;
  top: 45%;
}
span#tbRightArrow {
  position: absolute;
  right: 5px;
  top: 45%;
}
span.tb-slide-arrow:hover {
  color:rgba(100,100,100,.75);
  cursor: pointer;
}
article#tbWelcome {
  align-items: center;
  background-color: rgba(75,75,75,.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  position: absolute;
  right: 50px;
  top: 25px;
  width: 800px;
}

article#tbWelcome p{
  font-size: 4rem;
}

article#tbWelcome span {

  font-size: 1.25rem;
}

/* BOTTOM RIBBON STYLES  */
section.tb-bottom-ribbon {
  background-color: rgb(175,175,175);
  display: flex;
  flex-direction: column;
  height: 32.5%;
  padding-top: 2%;
  width: 100%;
}
article.tb-bottom-main {
  height: 60%;
}

article.tb-bottom-main h1 {
  color: rgb(235,235,235);
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  height: auto;
  text-align: center;
  width: 100%;
}

article.tb-bottom-main em {
  color: rgb(130,15,5);
  font-size: 4.1rem;
}

article.tb-bottom-main p {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  line-height: 1.5em;
  margin: 2% auto 0;
  padding: 1%;
  width: 75%;
}

/* BOTTOM RIBBON FOOTER */
section.tb-bottom-footer {
  background-color: rgb(75,75,75);
  display: flex;
  height: 40%;
  justify-content: space-around;
  padding: 2% 0;
  width: 100%;
}
div.tb-bottom-footer-content {
  border: .5px solid rgb(5,5,5);
  box-shadow: 1px 1px rgb(5,5,5);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 25%;
}
div.tb-bottom-footer-content h3 {
  align-items: center;
  background-color: rgba(175,175,175,.75);
  border-bottom: 1px solid rgb(100,100,100);
  display: flex;
  justify-content: center;
  height: 25%;
  width: 100%;
}

div.tb-bottom-footer-content a {
  background-color: rgba(175,175,175,.9);
  border: 5px solid rgb(235,235,235);
  color: rgb(25,25,25);
  display: inline-block;
  font-size: 1.25em;
  height: 20%;
  left: 25%;
  line-height: 150%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 50%;

}
div.tb-bottom-footer-content a:hover {
  border: 5px solid rgb(50,50,50);
  background-color: rgba(200,200,200,1);
}
section.tb-bottom-footer div:nth-child(1) {
  background-image: url("../images/backgroundImages/beers.jpg");
  background-size: cover;
}
section.tb-bottom-footer div:nth-child(2) {
  background-image: url("../images/backgroundImages/menu.jpg");
  background-size: cover;
}
section.tb-bottom-footer div:nth-child(3) {
  background-image: url("../images/backgroundImages/media.jpg");
  background-size: cover;
}

/**********************************************************************************
  MEDIA QUERIES
**********************************************************************************/
@media only screen and (max-width: 600px) {
  ul#leftNav, ul#rightNav {
    display: flex;
    flex-flow: column;
    float: none;
    height: 50%;
    justify-content: space-around;
    min-width: 100%;
  }
  nav.tb-top-nav {
    height: 12.5%;
  }
  nav.tb-top-nav li {
    float: none;
    min-width:100%;
  }
  header.tb-header {
    display: none;
  }
  div.tb-logo-placeholder {
    display:none;
  }

}
