/* STYLES FOR MENU.HTML (SEE MAIN.CSS FOR STYLES AT HEADER AND FOOTER */
main#tbMenuContent {
  display: flex;
  justify-content: flex-start;
  height: 65%;
  width: 100%;
}

aside#tbSideNav {
  border-right: 2px solid rgb(75,75,75);  
  height: 100%;
  width: 20%;
}

section#tbMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
section#tbMenu h2{
  background-color: rgb(235,50,25);
}

div.tbMenuItem {
  
  display: flex;
  flex-flow: wrap;
  height: 50px;;
  width: 80%;
}

.tbMenuItem h3 {
  background-color: rgb(200,200,200);
  display: inline-block;
  flex: 3 3 50%;
  width: 50%;

}
.tbMenuItem p {
  background-color: rgb(200,200,200);
  display: inline-block;
  flex: 1 1 50%;
  width: 50%;
}
.tbMenuItem p:last-child {
  background-color: rgb(100,100,100);
  display: inline-block;
  flex: 1 1 100%;
  width: 100%;
}